API_KEY=
PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/SERVER
JWT_SECRET=
JWT_EXPIRES_IN=60m
REFRESH_TOKEN_EXPIRES_DAYS=30
JWT_ISSUER=starter-kit-api
JWT_AUDIENCE=starter-kit-client
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLIENT_URL=http://localhost:5173
REDIS_URL=redis://127.0.0.1:6379

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USERNAME=
MAIL_PASSWORD=""
MAIL_FROM=

APP_TIMEZONE=Africa/Cairo